.input {
    min-width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(189, 189, 189);
    color: black;
    font-size: 16px;
}

.input--danger {
    border: 1px solid red;
    color: red;
}

.label--danger {
    color: red;
}

.input:focus {
    border: 1px solid royalblue;
    color: royalblue;
}

.input--element:focus-within label {
    color: royalblue;
}