.my-butt {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.my-butt--primary {
    background-color: royalblue;
}

.my-butt--primary:hover {
    background-color: #024694;
}

.my-butt--secondary {
    color: royalblue;
    border: solid 2px royalblue;
    background-color: unset;
    opacity: 0.8;
}

.my-butt--secondary:hover {
    color: white;
    background-color: royalblue;
    opacity: 1;
}

.my-butt--sm {
    min-width: 80px;
    height: 30px;
    font-size: small;
}

.my-butt--md {
    min-width: 120px;
    height: 40px;
    font-size: medium;
}

.my-butt--lg {
    min-width: 160px;
    height: 60px;
    font-size: larger;
}